<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/style.css">
  <title>Home Page</title>
</head>

<body>
  <%- include('./partials/_navbar.ejs') %>
    <h1>Welcome to our Custom Planets!</h1>

    <h2>Create your fantasy world alongside other users! Gain inspiration from others by viewing the Community page!
    </h2>

</body>

</html>